# Send this build to the travis.ci container-based infrastructure
# which typically has more capacity than the open-source Linux pool
sudo: false
# Tell Travis you want a Python environment to test in
language: python
# List the versions of Python you'd like to test against
python:
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
  - export DJANGO_SETTINGS_MODULE=tests.test_settings
# Tell it the things it will need to install when it boots
install:
   # Install the dependencies the app itself has
   # which in this case I choose to keep in a requirements file
 - pip install tox-travis
# Tell Travis how to run the test script itself
script:
  - tox -r
