div.versatileimagefield {
    float:left;
    clear:right;
    display:block;
}

label.versatileimagefield-label  {
    display:block;
    float:left;
    clear:right;
    font-weight:bold !important;
    font-size:1em;
}

label.versatileimagefield-label:after {
    content:": ";
}

div.sizedimage-mod {
    margin:15px 0;
}

div.image-wrap.outer {
    border:4px solid #CCCCCC;
}

div.sizedimage-mod:first-child {
    margin-top:0;
}
