div.sizedimagefield {
    float:left;
    clear:right;
    display:block;
}

label.sizedimagefield-label  {
    display:block;
    float:left;
    clear:right;
    font-weight:bold !important;
    font-size:1em;
}

label.sizedimagefield-label:after {
    content:": ";
}

div.sizedimage-mod {
    margin:15px 0;
}

div.image-wrap {
    display:inline-block;
}

div.point-stage {
    position:absolute;
}

div.image-wrap.outer {
    border:4px solid #CCCCCC;
}

div.sizedimage-mod:first-child {
    margin-top:0;
}

div.centerpoint-point {
    width:8px;
    height:8px;
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, .5);
    position:absolute;
    border:1px solid #FFFFFF;
}
